.page-dashboard #special-btn {
  background: #f00 !important;
}

.page-dashboard .card {
              padding: 25px !important;
}



.page-dashboard .container .card .title {
      color: #000;
}

@media (width <=768px) {
  .page-dashboard .container {
    padding: 5px;
  }
}

@media (width <=768px) {
  .page-dashboard .container {
    margin: 10px;
  }
}